target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Windows ###
Thumbs.db

### Other ###
*.log
.git
.gitignore
README.md
HELP.md

